# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# Le Wagon colleagues' functions
git+https://github.com/domzae/muchwow
git+https://github.com/freichel/tstprjctflo
git+https://github.com/g-wagen/myproject
git+https://github.com/jjjaan/jan_proudly_presents
git+https://github.com/WolfSchew/collatz_problem